colorama
requests
tqdm
# frida<12.0.0
watchdog
urwid
lief>=0.10.1
calmjs.parse
python-magic; platform_system=="Linux"
python-magic-bin; platform_system=="Darwin"
python-magic-bin; platform_system=="Windows"
